@import 'tailwindcss';

// Support for self-hosted fonts:
@import 'fonts';

// Modern CSS Reset.
/* stylelint-disable-next-line */
@import '_reset';

/* stylelint-disable-next-line */
@theme {
	--font-sans: 'Source Sans 3 Variable', 'Quicksand Variable', 'Montserrat Variable', sans-serif;
	--font-mono: 'Fira Code Variable', ui-monospace, monospace;
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

:root {
	--background: oklch(100% 0 0deg);
	--foreground: oklch(14.5% 0 0deg);
	--card: oklch(100% 0 0deg);
	--card-foreground: oklch(14.5% 0 0deg);
	--popover: oklch(100% 0 0deg);
	--popover-foreground: oklch(14.5% 0 0deg);
	--primary: oklch(40% 0.1 240deg);
	--primary-foreground: oklch(98.5% 0 0deg);
	--secondary: oklch(97% 0 0deg);
	--secondary-foreground: oklch(20.5% 0 0deg);
	--muted: oklch(97% 0 0deg);
	--muted-foreground: oklch(55.6% 0 0deg);
	--accent: oklch(97% 0 0deg);
	--accent-foreground: oklch(20.5% 0 0deg);
	--destructive: oklch(57.7% 0.245 27.325deg);
	--destructive-foreground: oklch(57.7% 0.245 27.325deg);
	--border: oklch(92.2% 0 0deg);
	--input: oklch(92.2% 0 0deg);
	--ring: oklch(87% 0 0deg);
	--chart-1: oklch(64.6% 0.222 41.116deg);
	--chart-2: oklch(60% 0.118 184.704deg);
	--chart-3: oklch(39.8% 0.07 227.392deg);
	--chart-4: oklch(82.8% 0.189 84.429deg);
	--chart-5: oklch(76.9% 0.188 70.08deg);
	--radius: 0.625rem;
	--sidebar: oklch(98.5% 0 0deg);
	--sidebar-foreground: oklch(14.5% 0 0deg);
	--sidebar-primary: oklch(98.5% 0 0deg);
	--sidebar-primary-foreground: oklch(98.5% 0 0deg);
	--sidebar-accent: oklch(97% 0 0deg);
	--sidebar-accent-foreground: oklch(20.5% 0 0deg);
	--sidebar-border: oklch(92.2% 0 0deg);
	--sidebar-ring: oklch(87% 0 0deg);
}

.dark {
	--background: oklch(14.5% 0 0deg);
	--foreground: oklch(98.5% 0 0deg);
	--card: oklch(14.5% 0 0deg);
	--card-foreground: oklch(98.5% 0 0deg);
	--popover: oklch(14.5% 0 0deg);
	--popover-foreground: oklch(98.5% 0 0deg);
	--primary: oklch(40% 0.1 240deg);
	--primary-foreground: oklch(98.5% 0 0deg);
	--secondary: oklch(26.9% 0 0deg);
	--secondary-foreground: oklch(98.5% 0 0deg);
	--muted: oklch(26.9% 0 0deg);
	--muted-foreground: oklch(70.8% 0 0deg);
	--accent: oklch(26.9% 0 0deg);
	--accent-foreground: oklch(98.5% 0 0deg);
	--destructive: oklch(39.6% 0.141 25.723deg);
	--destructive-foreground: oklch(63.7% 0.237 25.331deg);
	--border: oklch(26.9% 0 0deg);
	--input: oklch(26.9% 0 0deg);
	--ring: oklch(43.9% 0 0deg);
	--chart-1: oklch(48.8% 0.243 264.376deg);
	--chart-2: oklch(69.6% 0.17 162.48deg);
	--chart-3: oklch(76.9% 0.188 70.08deg);
	--chart-4: oklch(62.7% 0.265 303.9deg);
	--chart-5: oklch(64.5% 0.246 16.439deg);
	--sidebar: oklch(20.5% 0 0deg);
	--sidebar-foreground: oklch(98.5% 0 0deg);
	--sidebar-primary: oklch(98.5% 0 0deg);
	--sidebar-primary-foreground: oklch(98.5% 0 0deg);
	--sidebar-accent: oklch(26.9% 0 0deg);
	--sidebar-accent-foreground: oklch(98.5% 0 0deg);
	--sidebar-border: oklch(26.9% 0 0deg);
	--sidebar-ring: oklch(43.9% 0 0deg);
}

/* stylelint-disable at-rule-no-deprecated */
@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
/* stylelint-enable at-rule-no-deprecated */
